NGINX_PORT=8080

 # --- App --- 
PORT=3001
CORS_ORIGIN=
FRONTEND_URL=

# --- Auth ---
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN_SECONDS=
REFRESH_TOKEN_EXPIRES_IN_SECONDS=

GOOGLE_CLIENT_ID=

# --- PostgreSQL ---
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# --- MinIO ---
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
MINIO_BUCKET=
MINIO_PUBLIC_URL=
MINIO_BROWSER_REDIRECT_URL=

# --- SMTP ---
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=
MAIL_SMTP_SECURE=
MAIL_SMTP_FROM=
MAIL_SMTP_USER=
MAIL_SMTP_PASSWORD=

# --- Client ---
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SOCKET_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
