# --- App --- 
PORT=3001
CORS_ORIGIN=http://localhost:3000

# --- Auth ---
JWT_ACCESS_SECRET="your_jwt_access_secret_key_here"
JWT_ACCESS_EXPIRES_IN_SECONDS=900
REFRESH_TOKEN_EXPIRES_IN_SECONDS=2592000

GOOGLE_CLIENT_ID="your_google_client_id_here"

# --- Database ---
# Đây là database URL vps cho development
DATABASE_URL="postgresql://postgres:admin123456@"

# --- Redis ---
REDIS_URL="redis://:admin123456@"

# --- MinIO ---
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123456
MINIO_BUCKET=whiteboard

# --- SMTP ---
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=
MAIL_SMTP_SECURE=
MAIL_SMTP_FROM=
MAIL_SMTP_USER=
MAIL_SMTP_PASSWORD=
