# App configuration
PORT=3001
CORS_ORIGIN=http://localhost:3000

# Auth configuration
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_ACCESS_EXPIRES_IN_SECONDS=900
REFRESH_TOKEN_EXPIRES_IN_SECONDS=2592000
VERIFY_EMAIL_TOKEN_EXPIRES_IN_SECONDS=86400

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback

FRONTEND_LOGIN_SUCCESS_REDIRECT=http://localhost:3000/auth/callback/success
FRONTEND_LOGIN_FAILURE_REDIRECT=http://localhost:3000/auth/callback/error

# --- Database configuration ---
DATABASE_URL=postgresql://whiteboard:whiteboard@localhost:5432/tactical_whiteboard_db?schema=public

# --- SMTP Configuration ---
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=false
MAIL_SMTP_FROM=
MAIL_SMTP_USER=
MAIL_SMTP_PASSWORD=
